<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
    <form method="POST" action="/newteam">
      <h2> <input type="text" name="string"></h2>
      <h2><input type="text" name="string"></h2>
      <h2><input type="text" name="string"></h2>
      <h2><input type="text" name="string"></h2>
      <h2><input type="text" name="string"></h2>
      <h2><input type="text" name="string"></h2>
      <input type="submit">
    </form>
  
  
 </head>
 <body>
 </body>
</html>


