<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
    <form method="POST" action="/newteam">
      <h2>Team Name: <input type="text" name="string"></h2>
      <h2>Coach: <input type="text" coach="string"></h2>
      <h2>Point Guard:<input type="text" pg="string"></h2>
      <h2>Shooting Guard: <input type="text" sg="string"></h2>
      <h2>Small Forward: <input type="text" sf="string"></h2>
      <h2>Power Forward: <input type="text"pfa="string"></h2>
      <input type="submit">
    </form>
 </head>
 <body>
 </body>
</html>


